<div class="accounts-ui-button">
  <button (click)="open('login')">Login</button>
  <button (click)="open('register')">Sign up</button>
</div>

<!-- login | register | forgot-password -->
<section [ng-switch]="page" class="accounts-ui">

  <template [ng-switch-when]="'login'">
    <accounts-login></accounts-login>
  </template>

  <template [ng-switch-when]="'register'">
    <accounts-register></accounts-register>
  </template>

  <template [ng-switch-when]="'forgotPassword'">
    <accounts-forgot-password></accounts-forgot-password>
  </template>

  <template [ng-switch-when]="'profile'">
    <accounts-profile></accounts-profile>
  </template>

  <div class="redirects" *ng-if="page">
    <p *ng-if="page !== 'login'">Already have an account? <a (click)="redirect('login')">Login here</a></p>

    <p *ng-if="page !== 'register'">New user? <a (click)="redirect('register')">Create new account</a></p>

    <p *ng-if="page !== 'forgotPassword'">Forgot your password? <a (click)="redirect('forgotPassword')">Click here</a>
    </p>
  </div>

</section>

<!-- currently not working -->
<p>Modal currently not working</p>
<button (click)="openDialog('accounts-login')">Open Login</button>